/* dashboard
=================================================================== */
/* dashboard
=================================================================== */
.date-overlay {
  width: 110px;
  height: 50px;
  margin-left: 10px;
  border-radius: 5px;
  float: left;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
